@import "tailwindcss";

@theme {
  --color-primary: #f2cc0d;
  --color-primary-dark: #b3960a;
  --color-background-dark: #050505;
  --color-surface-dark: #121212;
  --color-surface-highlight: #1e1e1e;
  --color-accent-blue: #3b82f6;
  --color-accent-cyan: #00f0ff;
  --color-accent-red: #ef4444;
  --color-accent-pink: #ff2a6d;

  --font-display: "Space Grotesk", sans-serif;
  --font-mono: "Courier New", monospace;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .text-glow-blue {
    text-shadow: 0 0 20px rgba(59,130,246,0.6), 0 0 10px rgba(59,130,246,0.3);
  }
  .glow-blue {
    box-shadow: 0 0 15px rgba(0, 240, 255, 0.2);
  }
  .glow-red {
    box-shadow: 0 0 15px rgba(255, 42, 109, 0.2);
  }
}

body {
  min-height: max(884px, 100dvh);
}
